:root {
  scroll-behavior: smooth;

  /* FUENTES */
  --fuenteprimaria: Federant;
  --fuentesecundaria: Share Tech Mono;

  /* COLORES */
  --primario: #252525;
  --secundario: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--secundario);
  margin: 0;
  color: var(--primario);
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(5px);
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
}

nav a {
  display: grid;
  font-family: var(--fuenteprimaria);
  color: var(--primario);
  height: 2rem;
  align-content: center;
  transition-duration: 0.4s;
}

nav a:hover {
  border-bottom: 1px solid var(--primario);
  transition-duration: 0.5s;
}

nav a.active {
  border-bottom: 1px solid var(--primario);
  transition-duration: 0.4s;
}

.hero {
  margin-top: 5rem;
  text-align: center;
  height: auto;
}

.hero a,
.hero h1,
.hero p {
  color: var(--primario);
  font-family: var(--fuenteprimaria);
  user-select: none;
}
.hero h1:hover{
  cursor: pointer;
  
}

form {
  position: static;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--fondoprimario);
  align-content: center;
  justify-items: center;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: var(--primario) solid;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--primario);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: var(--fuentesecundaria);
  background-color: var(--secundario);
}

button {
  display: flex;
  background-color: var(--secundario);
  color: var(--primario);
  border-radius: 5px;
  border: 1px var(--primario) solid;
  padding: 12px 20px;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 12px;
  font-family: var(--fuentesecundaria);
  text-align: center;
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--primario);
  color: var(--secundario);
  border: 1px var(--secundario) solid;
  border-radius: 5px;
  transition-duration: 0.5s;
}

.container {
  display: block;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: var(--primario) solid;
}

.container h2 {
  font-family: var(--fuenteprimaria);
  padding: 1rem 0 1rem 0;
}

.container h3 {
  font-family: var(--fuenteprimaria);
}

.container h4 {
  font-family: var(--fuenteprimaria);
}

.container p {
  font-family: var(--fuentesecundaria);
  margin: 0 0 0 1rem;
}

.container a {
  font-family: var(--fuentesecundaria);
  color: var(--primario);
}

.iconcard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
  color: var(--fondocolor);
}

hr {
  margin: 3rem 0 0 0;
  width: 100%;
}

.iconcard>img {
  display: flex;
  color: var(--primario);
  transition-duration: 0.4s;
  width: 80px;
  height: 80px;

}

.iconcard>img:hover {
  transform: scale(1.4);
  transition-duration: 0.4s;
}

footer {
  margin: 2rem 0 2rem 0;
  position: static;
  display: grid;
  align-content: center;
  width: 100%;
  text-align: center;
  background-color: var(--secundario);
}

footer p,
footer a {
  color: var(--primario);
  font-family: var(--fuentesecundaria);
}

.footlist {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  margin: 2rem 0 2rem 0;
}

.footlink {
  display: flex;
  color: var(--fondocolor);
  transition-duration: 0.4s;
  width: 35px;
  height: 35px;
}

.footlink:hover {
  color: var(--secundario);
  transform: scale(1.2);
  transition-duration: 0.5s;
}

@media only screen and (max-width: 600px) {
  ul {
    flex-direction: column;
  }

  .centro {
    text-align: center;
    align-items: center;
  }

  li a {
    width: auto;
  }

  header.hero {
    padding-top: 1rem;
  }
}