* {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: gruppo;
  color: #343434;
}

nav {
  background-color: white;
  top: 0;
  width: 100%;
  position: relative;
}

nav a {
  float: left;
  display: block;
  text-decoration: none;
  color: #343434;
  padding: 14px 16px;
  font-size: large;
  text-align: center;
}

nav a:hover {
  border-bottom: 1px solid #343434;
  transition-duration: 0.4s;
}

nav a.active {
  border-bottom: 1px solid #343434;
  color: #343434;
}

.centro {
  display: flex;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav li {
  text-align: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  padding: 50px;
  font-size: 40px;
  text-align: center;
  background: white;
  max-width: 100%;
  height: auto;
  font-family: Rakkas;
}

header p {
  font-family: gruppo;
}


.active {
  display: block;
}

section,
hgroup {
  text-align: center;
  padding: 50px 0;
}

section h1,
hgroup {
  font-size: 45px;
  margin-bottom: 10px;
  color: #7ed957;
}

section h2,
hgroup {
  font-size: 24px;
  color: #7ed957;
  margin-bottom: 20px;
}

section h3,
hgroup {
  font-size: 25px;
  color: #7ed957;
}

section p,
hgroup {
  font-size: 16px;
  color: #343434;
  margin-bottom: 30px;
}

.banner {
  display: block;
  max-width: 75%;
  height: auto;
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateY(35%);
  z-index: -1;
}

.card {
  display: block;
  width: 20%;
  margin: 5%;
  float: left;
  background-color: white;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.4s;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card h2 {
  color: #7ed957;
  margin-top: 10px;
}

.card p {
  color: #343434;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

hgroup {
  margin: 20%;
}

footer {
  background-color: #7ed957;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 10px 0;
}

footer i {
  margin: 0 10px;
}

.form-card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}


input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button[type=submit],
button[type=reset] {
  background-color: #7ed957;
  color: #343434;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 12px;
}

button[type=submit]:hover,
button[type=reset]:hover {
  background-color: #343434;
  color: #7ed957;
  transform: scale(1.1);
  transition-duration: 0.4s;
}

.container {
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 20px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav a {
    float: none;
    display: block;
  }

  ul {
    flex-direction: column;
  }
}