* {
  box-sizing: border-box;
}
/* Fondo */
body {
  background-color: rgb(0, 0, 0);
  background-image: url(../images/bg2.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
}
/* Elementos basicos */
h1,
h2,
h3 {
  font-family: Ubuntu, sans-serif;
  color: beige;
}

p {
  font-family: Lora, serif;
  color: beige;
}

a {
  font-family: Lora, serif;
  text-decoration: none;
  color: beige;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: beige;
}

/* Imagenes */
.image {
  width: 50%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
#profile {
  width: 400px;
  height: 400px;
}
/* Barra de navegacion */

nav {
  overflow: hidden;
  background-color: hwb(0 20% 80% / 0.70);
  top: 0;
  width: 100%;
  position: sticky;
}

a.navlink {
  display: inline-block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 16px;
  height: 60px;
}

a.navlink:hover {
  background-color: rgba(0, 0, 139, 0.5);
}

a.langicon {
  position: relative;
  float: right;
  top: 1em;
  padding-right: 1em;
}

.langicon img {
  width: 32px;
  height: 32px;
}

/* Portada Hero */
header h1 {
  font-size: 80px;
}

header {
  width: 100%;
  height: 100vh;
  text-align: center;
}
header h1 {
  padding: 1em;
}
header h2 {
  padding: 1em;
}
article {
  margin: auto;
  text-align: center;
  width: 70%;
  padding-top: 60px;
}
#contact {
  height: 95vh;
}
.social {
  position: relative;
  color: beige;
  float: left;
  bottom: 1em;
  padding-left: 1em;
}
.boton {
  position: fixed;
  bottom: 1em;
  right: 1em;
  cursor: pointer;
  color: beige;
}
fieldset {
  position: relative;
  border-radius: 10px;
  border-color: darkblue;
  border-width: 3px;
  border-style: double;
  background-color: rgba(0, 0, 139, 0.25);
}
form input {
  width: 100%;
}
form textarea {
  width: 100%;
}
