* {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
  background-image: url(../images/bg2.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Ubuntu, sans-serif;
  color: beige;
}

p {
  font-family: Lora, serif;
  color: beige;
}

a {
  font-family: Lora, serif;
  text-decoration: none;
  color: beige;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: beige;
}

nav {
  overflow: hidden;
  background-color: hwb(0 20% 80% / 1);
  top: 0;
  width: 100%;
  position: sticky;
}

a.navlink {
  display: inline-block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 16px;
  height: 60px;
}

a.navlink:hover {
  background-color: beige;
  color: hwb(0 20% 80% / 1);
  transition-duration: 0.4s;
}

a.langicon {
  position: relative;
  float: right;
  top: 1em;
  padding-right: 1em;
}

img.langimg {
  width: 32px;
  height: 32px;
}

aside,
div.gotopcontainer {
  width: auto;
  position: fixed;
  overflow-x: hidden;
  top: 50vh;
}

a.sideicon,
a.gotop {
  display: flex;
  color: hwb(0 20% 80% / 1);
  background-color: rgba(245, 245, 220, 0.1);
  cursor: pointer;
  justify-content: center;
  padding: 0.3em;
  width: 3rem;
  height: 3rem;
}

a.sideicon:hover,
a.gotop:hover {
  color: beige;
  transition-duration: 0.4s;
}

div.gotopcontainer {
  right: 0px;
}

a.sideicon {
  left: 0px;
}

header {
  width: 100%;
  height: 100vh;
  text-align: center;
}

header h1 {
  padding: 1em;
  font-size: 80px;
}

header h2 {
  padding: 1em;
}

article {
  display: block;
  justify-content: center;
  align-items: center;

  margin: auto;
  text-align: center;
  width: 90%;
  padding-top: 60px;
  height: 100vh;
}

input.forminput,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: hwb(0 20% 80% / 0.4);
  font-family: Share Tech Mono;
  color: beige;
}

button.formbutton {
  background-color: hwb(0 20% 80% / 1);
  color: beige;
  font-family: Share Tech Mono;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 45%;
  margin: 1em;
}

button.formbutton:hover {
  background-color: beige;
  color: hwb(0 20% 80% / 1);
}

section {
  margin: auto;
  text-align: center;
  width: 90%;
  padding-top: 60px;
  height: 100vh;
}

.g-recaptcha {
  display: block;
  margin: 1em;
}

.image {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}