* {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0px;
  color: #151515;
}

nav {
  padding: 0.5rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  font-size: large;
  font-family: Share Tech Mono;
  color: #151515;
}

nav a:hover {
  border-bottom: 1px solid #343434;
  transition-duration: 0.4s;
}

nav a.active {
  border-bottom: 1px solid #343434;
  color: #343434;
}

aside {
  width: auto;
  position: fixed;
  overflow-x: hidden;
  top: 50vh;
  border: solid #151515;
  border-radius: 5px;
  left: -5px;
}

a.sideicon {
  text-decoration: none;
  display: flex;
  color: #151515;
  background-color: rgba(245, 245, 220, 0.1);
  cursor: pointer;
  justify-content: center;
  padding: 0.3rem;
  width: 3rem;
  height: 3rem;
}

a.sideicon:hover {
  color: beige;
  transition-duration: 0.4s;
}

header.hero {
  font-size: xxx-large;
  text-align: center;
  max-width: 100%;
  height: auto;
  font-family: Federant;
}

header.hero p {
  font-family: Share Tech Mono;
  font-size: large;
}

.card {
  display: block;
  width: 20%;
  margin: 5%;
  float: left;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  align-items: center;
  transition: transform 0.4s;
  border: #151515 solid;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card h2 {
  font-family: Federant;
  margin-top: 10px;
}

.card p {
  font-family: Share Tech Mono;
}

main.form {
  display: block;
  text-align: center;
  width: 80%;
  border-radius: 5px;
  border: #151515 solid;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 95%;

}

input.forminput,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: hwb(0 20% 80% / 0.4);
  font-family: Share Tech Mono;
  color: white;
}

button.formbutton {
  background-color: #151515;
  color: white;
  font-family: Share Tech Mono;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 45%;
  margin: 1em;
}

button.formbutton:hover {
  background-color: white;
  color: #151515;
  border: #151515 solid;
  border-radius: 5px;
  transition: transform 0.4s;

}