* {
  box-sizing: border-box;
}
/* Fondo */
body {
  background-image: url(/images/bg2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color: rgb(0, 0, 0);
  margin: 0;
}
/* Elementos basicos */
h1,
h2,
h3 {
  font-family: Ubuntu, sans-serif;
  color: beige;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-family: Lora, serif;
  font-size: 16px;
  color: beige;
}

a {
  text-decoration: none;
  color: beige;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: beige;
}
/* Imagenes */
.image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 25px;
  width: 600px;
  height: 300px;
}
#profile {
  width: 400px;
  height: 400px;
}
/* Barra de navegacion */

.topnav{
  margin: 10px;
}
.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topnav li {
  float: left;
}

.topnav li,
.topnav a {
  display: block;
  color: beige;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

.topnav a:hover:not(.active) {
  background-color: darkblue;
}

.active {
  background-color: darkblue;
}
.active:hover {
  background-color: blue;
}
/* Portada Hero */
.hero {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 80px;
  font-size: 80px;
}

.sub-hero {
  text-align: center;
}

.cabeza {
  width: 100%;
  height: 100vh;
}
article {
  margin: auto;
  text-align: center;
  width: 50%;
}
.icons li{
  display: inline;
}
