body {
  background-image: url(/images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

h1,
h2,
h3 {
  font-family: Ubuntu, sans-serif;
  color: beige;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-family: Lora, serif;
  font-size: 16px;
  color: beige;
}

a {
  text-decoration: none;
  color: beige;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: beige;
}

.responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#lang {
  right: 16px;
  font-family: Lora, serif;
  font-size: 14px;
  color: red;
}
